/* COMMON STYLES primarily for the articles and content pages */

.ProseMirror {

  /* Paragraphs */
  p {
    display: block;
    margin-bottom: 1em;
  }

  p:only-child, p:last-of-type {
    margin-bottom: 0;
  }

  /* Lists */
  ul,
  ol {
    display: block;
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 40px;
  }

  /* Blockquote */
  blockquote {
    display: block;
    margin: 1em 40px;
  }

  /* Miscellaneous */
  hr {
    display: block;
    margin: 0.5em auto;
    border-style: inset;
    border-width: 1px;
  }

  /* Default Table Styles */
  table {
    border-collapse: collapse;
    width: 100%;
  }

  /* Table Header Styles */
  th {
    border: 1px solid #ddd; /* Border color for table header cells */
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2; /* Background color for table header cells */
  }

  /* Table Cell Styles */
  td {
    border: 1px solid #ddd; /* Border color for table cells */
    padding: 8px;
  }

  /* Alternating Row Colors */
  tr:nth-child(even) {
    background-color: #f9f9f9; /* Background color for even rows */
  }

  /* Headings */

  h1 {
    font-size: 2em;
    margin-bottom: 0.67em;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 0.83em;
  }

  h3 {
    font-size: 1.25em;
    margin-bottom: 1em;
  }

  h4 {
    font-size: 1.125em;
    margin-bottom: 1em;
  }

  h1,h2,h3,h4,h5,h6 {
    @apply font-bold;
    line-height: 1.6;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    color: #0969da;
    cursor: pointer;
  }

}
