.ToolbarContainer {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
  padding: 3px;
  position: sticky;
  top: 0;
  z-index: 1;

  &.sticky {
    border-top: 2px solid transparent;
    box-shadow: 0 3px 5px -3px rgba(#333333, 0.5);
  }
}

.Toolbar {
  display: flex;

  .icon {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @apply text-foreground;

    &.disabled {
      color: rgba(#333333, 0.5);
      pointer-events: none;
    }
  }

  .icon:hover, .icon.is-active {
    background: #333333;
    color: #ffffff;
    cursor: pointer;
  }

  .divider {
    border: none;
    border-left: 1px solid rgba(#333333, 0.2);
    margin: 4px 10px;
  }

  .icon + .icon {
    margin-left: 4px;
  }
}
