@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

[contenteditable] {
  outline: 0 solid transparent;
}

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/

/*@layer utilities {*/
/*  .text-balance {*/
/*    text-wrap: balance;*/
/*  }*/
/*}*/

/* Sections table */
.trip-table {
    /*td:hover {*/
    /*  @apply bg-foreground-200;*/
    /*}*/
}

.editable-elemenet {
  @apply relative;

  .btn-edit {
    @apply absolute z-10 right-0 -bottom-3 hidden;
  }

  &:hover {
    .btn-edit {
      display: inline-flex;
    }
  }
}


/* CUSTOM TABLE */
.table-wrapper {
  @apply p-4 z-0 flex flex-col relative justify-between gap-4 bg-content1 overflow-auto rounded-large shadow-small w-full
}

.table {
  /*@apply bg-content1 overflow-auto rounded-large shadow-small w-full;*/
  @apply min-w-full h-auto table-auto w-full;
}

.thead {
  @apply [&>tr]:first:rounded-lg sticky top-0 z-20 [&>tr]:first:shadow-small;
  display: flex;
}

.tr {
  @apply outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2;
  display: flex;
}

.th {
  @apply px-3 h-10 text-left rtl:text-right align-middle bg-default-100 whitespace-nowrap text-foreground-500 text-tiny font-semibold first:rounded-l-lg rtl:first:rounded-r-lg rtl:first:rounded-l-[unset] last:rounded-r-lg rtl:last:rounded-l-lg rtl:last:rounded-r-[unset] data-[sortable=true]:transition-colors data-[sortable=true]:cursor-pointer data-[hover=true]:text-foreground-400 outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2;
  display: flex;
  align-items: center;
  flex-grow: 1;

}

.td {
  @apply py-2 px-3 relative align-middle whitespace-normal text-small font-normal outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 before:content-[''] before:absolute before:z-0 before:inset-0 before:opacity-0 data-[selected=true]:before:opacity-100 group-data-[disabled=true]:text-foreground-300 group-data-[disabled=true]:cursor-not-allowed before:bg-default/40 data-[selected=true]:text-default-foreground first:before:rounded-l-lg;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
